<ul class="list-group" style="margin-top: 5%;">
  <li class="list-group-item list-group-item-action list-group-item-dark" (click)="clearCurrentBrand()" routerLink="cars">Tüm Markalar</li>

  <div class="mb-3">
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Marka Ara">
  </div>

  <li (click)="setCurrentBrand(brand)" 
  *ngFor="let brand of brands | filterBrand: filterText" [class]="getCurrentBrandClass(brand)">
      {{brand.brandName}}
  </li>
</ul>
