<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<footer class="bg-dark text-white pt-4 pb-2">
    <div class="container text-center text-md-left">
      <div class="row">
        <!-- Şirket Bilgisi -->
        <div class="col-md-3">
          <h5 class="text-uppercase">RentACar</h5>
          <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, culpa.</p>
        </div>
  
        <!-- Hızlı Linkler -->
        <div class="col-md-3">
          <h5 class="text-uppercase">Hızlı Linkler</h5>
          <ul class="list-unstyled">
            <li><a href="#!" class="text-white">Ana Sayfa</a></li>
            <li><a href="#!" class="text-white">Hakkımızda</a></li>
            <li><a href="#!" class="text-white">Hizmetler</a></li>
            <li><a href="#!" class="text-white">İletişim</a></li>
          </ul>
        </div>
  
        <!-- İletişim -->
        <div class="col-md-3">
          <h5 class="text-uppercase">İletişim</h5>
          <ul class="list-unstyled">
            <li><a href="mailto:info@company.com" class="text-white">info.com</a></li>
            <li><a href="tel:+1234567890" class="text-white">+1 234 567 890</a></li>
            <li><a href="#!" class="text-white">1234 Cadde Adı, Şehir</a></li>
          </ul>
        </div>
  
        <!-- Sosyal Medya -->
        <div class="col-md-3">
          <h5 class="text-uppercase">Bizi Takip Edin</h5>
          <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>          
        </div>
      </div>
    </div>
  
    <div class="text-center py-3">
      &copy; 2024 Şirket Adı. Tüm hakları saklıdır.
    </div>
</footer>
