.footer-container {
    background-color: #495057; 
    padding: 20px 0;
  }
  
  .footer-container app-footer {
    max-width: 1200px;
    margin: 0 auto;
  }
footer{
    margin-top: 7%;
    background: linear-gradient(135deg, #495057, #111111);
    color: white;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

footer .col-md-3 ul li a {
    text-decoration: none; 
    color: white; 
}


footer .col-md-3 ul li a:hover {
    transform: scale(1.2); 
    color: #007bff; 
}


footer .col-md-3 a i {
    transition: transform 0.3s ease, color 0.3s ease; 
}

footer .col-md-3 a:hover i {
    transform: scale(1.2); 
    color: #007bff; 
}
footer h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

footer p, footer ul li a {
    font-size: 0.9rem;
    line-height: 1.6;
}
footer .col-md-3 a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

footer .col-md-3 a:hover i {
    transform: scale(1.2);
    color: #007bff;
}
footer .text-center {
    border-top: 1px solid #444444;
    padding-top: 1rem;
    font-size: 0.8rem;
    color: #777777;
}
footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

footer .row > div {
    margin-bottom: 2rem;
}
footer a:hover {
    color: #ffd700;
    text-decoration: underline;
}

.text-white:hover{
    color:#007bff;
}
  