<table class="table">
    <thead class="table-info">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Kullanıcı</th>
            <th scope="col">Araç Adı</th>
            <th scope="col">Kiralama Tarihi</th>
            <th scope="col">Dönüş Tarihi</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <th scope="row">{{rental.id}}</th>
            <td>{{rental.customerName}}</td>
            <td>{{rental.carName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
            <td>
                <button class="btn btn-warning" routerLink="{{rental.id}}">
                    <i class="fa fa-edit"></i> Düzenle
                </button>   
            </td>
        </tr>
    </tbody>
</table>
