<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-0 shadow-lg rounded">
        <div class="card-header bg-primary text-white text-center rounded-top">
          <h4 class="mb-0">Profil Bilgilerim</h4>
        </div>
        <div class="card-body">
          <div class="text-center mb-4">
            <img src="assets/blank-profile-picture-973460_1280.png" alt="Profil Resmi" class="img-fluid rounded-circle border border-primary" width="150" height="150">
          </div>
          <div class="mb-3">
            <h5 class="text-muted">Ad: <span class="font-weight-bold">{{ user.firstName }}</span></h5>
            <h5 class="text-muted">Soyad: <span class="font-weight-bold">{{ user.lastName }}</span></h5>
            <h5 class="text-muted">Email: <span class="font-weight-bold">{{ user.email }}</span></h5>
            <h5 class="text-muted">
              Durum: 
              <span [ngClass]="{ 'badge': true, 'badge-success': status === 'Aktif', 'badge-danger': status !== 'Aktif' }">
                {{ status }}
              </span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
