<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-brand></app-brand>
      <app-color></app-color>
    </div>
    <div class="col-md-9">
      <div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      
      <div class="mb-3">
        <input type="text" style="margin-top: 2%;" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Araç ara... ">
      </div>
      
      <div *ngIf="filterText.length > 2" class="alert alert-warning">
        {{filterText}} aradınız
      </div>
      
      <app-car-filter></app-car-filter>
      
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col" *ngFor="let car of cars | filterPipe:filterText">
          <div class="card car-card"  routerLink="/car/{{car.id}}">
            <app-car-image [carId]="car.id"></app-car-image>
            <div class="card-body">
              <h5 class="card-title">{{car.carName}}</h5>
              <p class="card-text">{{car.carDescription}}</p>
              <p class="card-text"><strong>{{car.dailyPrice}}$</strong></p>
              <a type="button" class="btn btn-primary" routerLink="/car/{{car.id}}">İncele</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>