<div class="container" *ngIf="isDataLoaded == true">
    <div class="row">
        <div class="col">
            <label for="brandFilter" class="form-label">Markalar</label>
            <select class="form-select" id="brandFilter" aria-label="Marka Seçimi" [(ngModel)]="selectedBrandId">
                <option [value]="null">Tüm Markalar</option>
                <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandName}}</option>
            </select>
        </div>
        <div class="col">
            <label for="colorFilter" class="form-label">Renkler</label>
            <select class="form-select" id="colorFilter" aria-label="Renk Seçimi"  [(ngModel)]="selectedColorId">
                <option [value]="null">Tüm Renkler</option>
                <option *ngFor="let color of colors" [value]="color.colorId">{{color.colorName}}</option>
            </select>
        </div>
        <div class="col" style="margin-top: 0.8cm; text-align: right;">
            <button type="submit" [class]="changeButtonClass()" [routerLink]="changeRouteLink()">Filtrele</button>
            <button type="submit" class="btn btn-warning btn-space" routerLink="/cars">Temizle</button>
        </div>
    </div>
</div>
