<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"> 
          <h5 class="title">Araç Güncelle</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="carUpdateForm">
            <div class="mb-3">
              <label for="carName">Araç Adı</label>
              <div class="form-group">
                <input type="text" id="carName" formControlName="carName" class="form-control" placeholder="Araç Adı"/>
              </div>
            </div>
            <div class="mb-3">
              <label for="colorId">Renk Id</label>
              <div class="form-group">
                <input type="number" id="colorId" formControlName="colorId" class="form-control" placeholder="Renk Id"/>
              </div>
            </div>
            <div class="mb-3">
              <label for="brandId">Marka Id</label>
              <div class="form-group">
                <input type="number" id="brandId" formControlName="brandId" class="form-control" placeholder="Marka Id"/>
              </div>
            </div>
            <div class="mb-3">
              <label for="modelYear">Model</label>
              <div class="form-group">
                <input type="text" id="modelYear" formControlName="modelYear" class="form-control" placeholder="Model"/>
              </div>
            </div>
            <div class="mb-3">
                <label for="carDescription">Açıklama</label>
                <div class="form-group">
                  <input type="text" id="carDescription" formControlName="carDescription" class="form-control" placeholder="Açıklama"/>
                </div>
              </div>
              <div class="mb-3">
                <label for="dailyPrice">Fiyat</label>
                <div class="form-group">
                  <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control" placeholder="Fiyatı"/>
                </div>
              </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-fill btn-warning" (click)="update()">Güncelle</button>
        </div>
      </div>
    </div>
  </div>